*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    height: 5rem;
    line-height: 5rem;
    background-color: #93a0ca;
    color: white;
}
.choice{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.choice:hover{
    opacity: 0.6;
}
.choices{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    margin: 5rem;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50% ;
}
.score-board{
    display: flex;
    justify-content: center;
    gap: 5rem;
    font-size: 2rem;
}
#user-score,#comp-score{
    font-size: 3rem;
}
.msg-containner{
    margin: 5rem;
}
#msg{
    background-color: rgb(113, 177, 196);
    font-size: 2rem;
    display: inline;
    padding: 1rem;
}

